
.tab1{
    margin-left: 190px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1px;
  }
.tag{
    text-align: center;
}